@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;800&display=swap");

:root {
    --primary: rgb(13 13 14);
    --white: rgb(255, 255, 255);
}

/* Default style */
* {
    box-sizing: border-box;
}

body {
    font-family: "Urbanist", sans-serif;
    background-color: var(--primary);
    color: var(--white);
    margin: 0;
    overflow-x: hidden;
}

.min-70-vh {
    min-height: 70vh;
}

a:hover {
    color: var(--white);
}

p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: var(--white);
}
a:not(:last-child) {
    margin-right: 1rem;
}
header {
    box-shadow: 0 2px 5px var(--primary);
}

nav {
    background-color: var(--primary);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

input[type="text"] {
    display: block;
    width: 80%;
    padding: 20px 30px;
    margin: 8px auto;
    box-sizing: border-box;
    font-size: 1rem;
}

button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 0.5rem;
    border: 0;
    font-family: Arial;
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.row {
    display: flex;
}
.row-wrap {
    flex-wrap: wrap;
}
.row-nowrap {
    flex-wrap: nowrap;
}

.heading {
    margin: 3rem 1rem;
    position: relative;
}

.heading h2::before {
    content: "";
    border-left: 6px solid var(--white);
    padding-right: 20px;
}
.border-rounded {
    border-radius: 10px;
    overflow: hidden;
}

/* End Default Style */

/* Trending Movie Style  */
.trending_container {
    width: 90%;
    margin: 0 auto;
}

.trend_row {
    margin-bottom: 5rem;
}

.trend_row::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.trend_row::-webkit-scrollbar {
    height: 10px;
    background-color: #f5f5f5;
    border-radius: 100%;
}

.trend_row::-webkit-scrollbar-thumb {
    background-color: #770028;
    border-radius: 50px;
}

.mb-scrollbar {
    margin-bottom: 2rem;
}

.slider-link:hover .movie_info {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 1%,
        rgba(0, 0, 0, 0.8) 62%,
        rgba(0, 0, 0, 1) 99%
    );
}
.slider_col {
    margin: 1rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
        rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
        rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.rating_col {
    position: absolute;
    top: 20px;
    right: 20px;
    box-shadow: 0 0 7px 0px rgba(255, 197, 37, 0.522);
}

.movie_heading {
    font-size: 1.7rem;
}
.movie_info {
    position: absolute;
    bottom: 0;
    background: rgb(208, 208, 207);
    background: linear-gradient(
        180deg,
        rgba(208, 208, 207, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    width: 100%;
    overflow: hidden;
    padding: 0.5rem 1rem;
}
/* End Trending Movie Style  */

/* Result Movie Style  */
.result_row {
    justify-content: space-around;
}

.result_poster {
    width: 200px;
}

.result_info {
    margin-bottom: 2.5rem;
}

.result_info p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    width: 200px;
}

.result_container {
    margin: 5rem 3rem;
}
/* End Result Movie Style  */

/* Detail Movie Style  */
.detail_col {
    width: 100%;
    min-height: 100vh;
    padding: 2rem 0;
    background: black;
    /* backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    background-color: rgb(53 53 53 / 47%);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3); */
}
.detail_poster {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
}

.detail_text-col {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}

.detail_text-top h1 {
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.detail_text-center {
    padding: 2rem 0;
}
.detail_text-bottom {
    margin-top: 20px;
}

.detail_text-bottom p span {
    display: inline-flex;
    width: 150px;
}

img.detail_poster-img {
    box-shadow: rgb(0 0 0 / 7%) 0px 1px 1px, rgb(0 0 0 / 7%) 0px 2px 2px,
        rgb(0 0 0 / 7%) 0px 4px 4px, rgb(0 0 0 / 7%) 0px 8px 8px,
        rgb(0 0 0 / 7%) 0px 16px 16px;
    object-fit: cover;
    display: block;
    width: 100%;
}

.label-border {
    border: 2px solid var(--white);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.bgImg {
    /* background-image: url(./assets/img/backdrop.jpg); */
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}

.detail_row {
    display: flex;
    flex-direction: row;
}
.detail_language-tag {
    /* background-color: rgba(243, 151, 22, 0.88); */
    border: 1px solid var(--white);
    padding: 0px 15px;
    margin-left: 30px;
}
/* End Detail Movie Style  */

.movie_info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    font-weight: bold;

    border-radius: 3px;
    background-color: rgba(243, 151, 22, 0.88);
    padding: 10px;
}

.slider-link {
    display: block;
    width: 100%;
    transition: all 0.3s ease;
}

.hero_container {
    position: relative;
}
.hero_container-bg {
    position: inherit;
    width: 100%;
    height: 40vh;
    background-image: url(./assets/img/hero.jpg);
    filter: opacity(0.5) saturate(2);
    background-size: 93%;
    background-position: center;
}
.hero_container-heading {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    font-weight: 800;
}
.result_input {
    transform: translateY(-35px);
}

/* Footer */
footer {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* End Footer */
